nav {
    width: 100%;
}

ul {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  justify-content: space-between;
  list-style: none;
  background-color: #808080;
  padding: 10px;
  margin: 5px;
  z-index: 10;
}

li {
  font-size: 40px;
  color: #ffffff;
}

li > a {
  text-decoration: none;
}

.linkButton {
  border-radius: 10px;
  padding: 5px;
  background-color: #808080;
  color: #ffffff;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

@media (max-width: 500px) {
  .linkButton {
      font-size: 20px;
  }
}

@media (min-width: 1000px) {
  ul {
    width: 60%;
    margin: 0 auto;
  }
}

.activeLink {
  background-color: #ffa500;
  color: #000000; 
}