.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 3px solid #363636;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative; 
}

.user-info {
  margin-left: 10px;
}

@media (min-width: 1000px) {
  .user-card {
      width: 40%;
  }
}
.status {
    margin-left: auto; /* 右寄せ */
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
  }
  
.presence {
    background-color: #ffa500;
    color: #000000; 
}

.notpresence {
  color: #000000; 
}

.points {
    position: absolute;
    top: -15px; /* カードの上からの距離 */
    right: 90px; /* カードの右からの距離 */
    font-size: 14px;
    color: #000000;
    display: flex; /* 横並びにする */
    align-items: center; /* 垂直方向の中央揃え */
}
  .points img {
    margin-right: 5px; /* 画像とテキストの間にスペースを追加 */
    width: 20px; /* 画像の幅 */
    height: 20px; /* 画像の高さ */
}