.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.user-info {
  margin-left: 10px;
}

@media (min-width: 1000px) {
  .user-card {
      width: 40%;
  }
}