.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.user-info {
  margin-left: 10px;
}

@media (min-width: 1000px) {
  .user-card {
      width: 40%;
  }
}
.status {
    margin-left: auto; /* 右寄せ */
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
  }
  
  .presence {

        background-color: #ffa500;
        color: #000000; 

  }
  
  .notpresence {
    color: #000000; 
  }