.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.button-presence {
  position: relative;
  border-radius: 10px;
  height: 150px;
  width: 300px;
  font-size: 30px;
}

.presence {
  background-color: #ffa500;
  color: #000000;
}

.notpresence {
  background-color: #808080;
  color: #ffffff;
}
